@page
@model BathDream.Pages.AdminPanel.ContractModel
@{
}

<div>
    <partial name="./Account/Views/_ContractPartialView" model="Model.Input" />
</div>

<br />
<br />

<script>
    $(document).ready(function () {
        document.getElementById('navBar').hidden = true;
    });
</script>