@page
@model BathDream.Pages.AdminPanel.ContractModel
@{
}

@{ 
    Layout = "_ContractLayout";
}

<div id="ContractString">
        <partial name="./Account/Views/_ContractPartialView" model="Model.Input" />
</div>

<br />
<br />