@page
@model BathDream.Pages.AdminPanel.IndexModel
@{
}

<br />
<br />

<p><a asp-page="./WorkList">Список работ</a></p>
<p><a asp-page="./UserList">Список пользователей</a></p>
<p><a asp-page="./OrderList">Список Заказов</a></p>
<div id="content"></div>



@*<script src="~/ts/file.js"></script>*@