@page
@model BathDream.Pages.AdminPanel.IndexModel
@{
}

<br />
<br />

<p><a asp-page="./WorkList">Список работ</a></p>
<div id="content"></div>
<form method="post"><button>Go</button></form>
<script src="~/ts/file.js"></script>