@page
@model BathDream.Pages.AdminPanel.TestTempDataModel
@{
}

<br />
<br />
<h1>провера сохранения данных в TempData</h1>

@{ 
    if(TempData["huita"] != null)
    {
        <p>@TempData["huita"]</p>
    }
}