@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity;
@using BathDream.Models;
@inject UserManager<User> manager
@model string
@{
    string path = Model;
    path ??= Url.Content("~/");

    var name = "";
    if (User.Identity.IsAuthenticated
        && await manager.FindByNameAsync(User.Identity.Name) is User user)
        name = $"{user.UName} {user.UFamaly}";
}

<ul class="nav navbar-nav">

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("architect"))
        {
            <li><a asp-page="/Account/Architector">Профиль</a></li>
        }
        else if (User.IsInRole("customer"))
        {
            <li><a asp-page="/Account/Customer">Профиль</a></li>
        }
        else if (User.IsInRole("executor"))
        {
            <li><a asp-page="/Account/Executor">Профиль</a></li>
        }
        else
        {
            <li><a asp-page="#">Профиль</a></li>
        }

        <li><a asp-page="/Account/Login" asp-page-handler="Logout" asp-route-returnUrl="@path">Выйти</a></li>
    }
    else
    {
        <li><a asp-page="/Account/Login" asp-route-role="executor" asp-route-returnUrl="@path">Стать исполнителем</a></li>
        <li><a asp-page="/Account/Login" asp-route-returnUrl="@path">Войти</a></li>
    }
    <!--
    <li class="dropdown">
        <a itemprop="url" href="#" class="dropdown-toggle" data-toggle="dropdown">Компания<span class="caret"></span></a>


        <ul class="dropdown-menu">
            <li><a itemprop="url" href="/portfolio">Наши проекты</a></li>
            <li><a itemprop="url" href="/vacancies">Вакансии</a></li>
            <li><a itemprop="url" href="/blog">Блог</a></li>
            <li><a itemprop="url" href="/contacts">Контакты</a></li>
        </ul>
        </li>
            -->

    <li><a href="https://bath-dream.ru/">О компании</a></li>
</ul>