
@using BathDream.Models
@model BathDream.Pages.Account.CustomerModel.InputModel

@*@if (Model.PaymentMessage != "")
    {
        <div id="my-alert" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @Model.PaymentMessage
        </div>
    }*@

<partial name="Views/_ContractPartialView" model="Model" />


@if (!Model.Order.Signed && (string.IsNullOrEmpty(Model.Order.ObjectAdress) || Model.Order.ObjectAdress == "_" || !Model.User.Profile.IsFilled()))
{
    <a class="btn btn-success" asp-page="/OrderDetails" asp-route-OrderId="@Model.Order.Id">Детали заказа</a>
}
else
{
    @if (!@Model.Order.Signed)
    {
        <a class="btn btn-success" asp-page-handler="Sign">Подписать</a>
    }
    else
    {
        @if (Model.PrepaidPayment == null)
        {
            <a class="btn btn-success" asp-page-handler="Payment" asp-route-orderId="@Model.Order.Id">Оплатить аванс 10%</a>
        }
        else if (Model.ResidualPayment == null)
        {
            <a class="btn btn-success" asp-page-handler="Payment" asp-route-orderId="@Model.Order.Id">Оплатить остаток</a>
        }
    }
}







<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
