@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BathDream.Pages.Account.ExecutorModel.InputModel
@{
}
<table class="table table-bordered table-hover">
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Ед.</th>
        <th>Количество</th>
        <th></th>
    </tr>
    @foreach (var work in Model.AdditionalWorks)
    {
        <tr>
            <td>@work.Name</td>
            <td>@work.Price</td>
            <td>@work.Unit</td>
            <td>@work.Count</td>
            <td>
                <a>
                    <i class="fas fa-times">
                        <input type="submit" />
                    </i>
                </a>
            </td>
        </tr>
    }
</table>
<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>