@page
@model BathDream.Pages.BriefSendModel
@{
    ViewData["Title"] = "Бриф";
}

<br />
<br />
<div class="jumbotron">
    <p><b>Бриф отправлен нашему архитектору.</b></p>
    <p><b>Когда он подготовит предложение, то свяжется с Вами</b></p>
    <p><a asp-page="/Account/Customer" class="btn btn btn-success">Вернутся в профиль</a></p>
</div>