@page
@model IndexModel
@{
    ViewBag.Title = "Формирование заказа";
}

<div class="order">
    <form method="post">
        <h1>Калькулятор стоимости ремонта</h1>
        <hr />
        <div class="form-group row">
            <label class="col-sm-3 control-label">Выберите объект</label>
            <div class="col-sm-8">
                <select class="form-control" name="ObjectType">
                    <option>Новостройка</option>
                    <option>Вторичка</option>
                    <option>Дом</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Санузен совмещенный?</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="CombinedBathroom" value="true" />
                    Да
                </label>
                <label class="radio-inline">
                    <input type="radio" name="CombinedBathroom" value="false" checked />
                    нет
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Требуется демонтаж?</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="RequiredRemoval" value="true" />
                    Да
                </label>
                <label class="radio-inline">
                    <input type="radio" name="RequiredRemoval" value="false" checked />
                    нет
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Требуется замена труб?</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="RequiredReplacePipeline" value="true" />
                    Да
                </label>
                <label class="radio-inline">
                    <input type="radio" name="RequiredReplacePipeline" value="false" checked />
                    нет
                </label>
            </div>
        </div>

        <h2>Размеры помещений</h2>
        <table id="rooms" class="table table-hover table-condensed table-responsive">
            <tr>
                <th style="text-align: center;">Помещение</th>
                <th style="text-align: center;">Длина, м</th>
                <th style="text-align: center;">Ширина, м</th>
                <th style="text-align: center;">Высота, м</th>
                <th class="door">Дверь Ш x B, м</th>
                <th></th>
            </tr>

            <tr>
                <td><input type="text" class="form-control" name="room_name" value="Ванная" /></td>
                <td><input type="number" class="form-control" name="room_length" min="0" step="0.1" placeholder="0" /></td>
                <td><input type="number" class="form-control" name="room_width" min="0" step="0.1" placeholder="0" /></td>
                <td><input type="number" class="form-control" name="room_height" min="0" step="0.1" placeholder="0" /></td>

                <td class="door">
                    <input type="number" class="form-control input-inline" name="door_width" min="0" step="0.1" placeholder="0" /> X
                    <input type="number" class="form-control input-inline" name="door_height" min="0" step="0.1" placeholder="0" />
                </td>
                <td></td>
            </tr>

            <tr>
                <td><input type="text" class="form-control" name="room_name" value="Санузел" /></td>
                <td><input type="number" class="form-control" name="room_length" min="0" step="0.1" placeholder="0" /></td>
                <td><input type="number" class="form-control" name="room_width" min="0" step="0.1" placeholder="0" /></td>
                <td><input type="number" class="form-control" name="room_height" min="0" step="0.1" placeholder="0" /></td>

                <td class="door">
                    <input type="number" class="form-control input-inline" name="door_width" min="0" step="0.1" placeholder="0" /> X
                    <input type="number" class="form-control input-inline" name="door_height" min="0" step="0.1" placeholder="0" />
                </td>
                <td class="deleteRow"><img src="img/delete.png"></td>
            </tr>
        </table>

        <div class="text-right">
            <button type="button" class="btn btn-success add-row">Добавить помещение</button>
        </div>
        <hr />
        <h2>Что требуется установить?</h2>

        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model.BathroomEquipments)
                {
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 install">
                        <div class="install-title"><span>@item.DisplyName</span></div>
                        <img alt="Brand" src=@item.Image />
                        <input type="number" name=@item.BindedProperty class="form-control" id="InputAmount" min="0" placeholder="0" />
                    </div>
                }
            </div>
        </div>

        <hr />
        <h2>Электромонтажные работы</h2>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Колличество розеток и выключателей</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" name="SwitchAmount" min="0" placeholder="0" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Теплые полы</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="WarmFloor" value="true" />
                    Да
                </label>
                <label class="radio-inline">
                    <input type="radio" name="WarmFloor" value="false" checked />
                    Нет
                </label>
            </div>
        </div>

        <hr />
        <h2>Отделка</h2>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Полы:</label>
            <div class="col-sm-3">
                <select class="form-control" name="FloorType">
                    <option>Плитка</option>
                    <option selected>Нет</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Требуется возведение стен?</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="NeedMakeWalls" value="true" />
                    Да
                </label>
                <label class="radio-inline">
                    <input type="radio" name="NeedMakeWalls" value="false" checked />
                    Нет
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Стены:</label>
            <div class="col-sm-3">
                <select class="form-control" name="WallCoverType">
                    <option>Плитка</option>
                    <option>Окраска</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Потолок:</label>
            <div class="col-sm-3">
                <select class="form-control" name="CeilingCoverType">
                    <option>Реечный</option>
                    <option>Натяжной</option>
                    <option>Окраска</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label">Установка двери</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="InstallDoor" value="true" />
                    Да
                </label>
                <label class="radio-inline">
                    <input type="radio" name="InstallDoor" value="false" checked />
                    Нет
                </label>
            </div>
        </div>

        <button type="submit" class="btn btn-success btn-lg btn-block" asp-page-handler="submit">Расчитать смету</button>
    </form>

    <script type="text/javascript">
	    rooms.addEventListener('click', function(evt){
		    if(evt.target.closest('.deleteRow')) {
			    evt.target.closest('tr').remove();
			    //renameRooms();
		    }
	    })

        function addTableRow()
        {
            var rowNewText = '<td><input type="text" class="form-control" name="SwitchAmount" placeholder="Название" /></td><td><input type="number" class="form-control" name="SwitchAmount" min="0" step="0.1" placeholder="0" /></td><td><input type="number" class="form-control" name="SwitchAmount" min="0" step="0.1" placeholder="0" /></td><td><input type="number" class="form-control" name="SwitchAmount" min="0" step="0.1" placeholder="0" /></td><td class="door"><input type="number" class="form-control input-inline" name="SwitchAmount" min="0" step="0.1" placeholder="0" /> X <input type="number" class="form-control input-inline" name="SwitchAmount" min="0" step="0.1" placeholder="0" /></td><td class="deleteRow"><img src="img/delete.png"></td>';

            var table = document.getElementById("rooms"),
                rowsCount = table.rows.length,
                newRowNumber = rowsCount + 1,
                newRow = table.insertRow();
                newRow.innerHTML =rowNewText;

	        renameRooms();
        }

        function renameRooms() {
	        var tbl = document.getElementById("rooms");

	        for (var r=1; r < tbl.rows.length; r++) {
		        for (var j = 0; j < 5; j++) {
			        var inpt = tbl.rows[r].cells[j].getElementsByTagName("input");
			        var name;
			        switch(j) {
			          case 0:
				        name = "room_name";
				        break;
			          case 1:
				        name = "room_length";
				        break;
			          case 2:
				        name = "room_width";
				        break;
			          case 3:
				        name = "room_height";
				        break;
			        }

			        inpt[0].setAttribute("name", name);
		        }
		        inpt = tbl.rows[r].cells[4].getElementsByTagName("input");
		        inpt[0].setAttribute("name", "door_width");
		        inpt[1].setAttribute("name", "door_height");
            }
        }

        document.querySelector('.add-row').addEventListener('click', addTableRow);
    </script>
</div>
