@page
@model BathDream.Pages.OrderDetailsModel
@{
    ViewData["Title"] = "Детали заказа";
}

<br />
<br />

<div class="container">
    <div class="row container-center">
        <div class="col-lg-8 col-xs-12 lk-auth-reg vertical-align container-center wrap">
            <div class="lk-auth-title col-xs-12">@ViewData["Title"]</div>
            <form method="post" class="form-horizontal" style="width:100%">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="Input.Id" />
                </div>

                <div class="form-group">
                    <label asp-for="Input.City" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.City" class="form-control" />
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Street" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Street" class="form-control" />
                        <span asp-validation-for="Input.Street" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.HouseNumber" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.HouseNumber" class="form-control" />
                        <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ApartmentNumber" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.ApartmentNumber" class="form-control" />
                        <span asp-validation-for="Input.ApartmentNumber" class="text-danger"></span>
                    </div>
                </div>

                @*Это должно быть аресом доставки*@
                @*<div class="form-group">
                    <label asp-for="Input.ObjectAddress" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.ObjectAddress" class="form-control" />
                        <span asp-validation-for="Input.ObjectAddress" class="text-danger"></span>
                    </div>
                </div>*@

                <div class="form-group">
                    <label asp-for="Input.Email" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Phone" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Phone" class="form-control" />
                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Name" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Famaly" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Famaly" class="form-control" />
                        <span asp-validation-for="Input.Famaly" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Patronymic" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.Patronymic" class="form-control" />
                        <span asp-validation-for="Input.Patronymic" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.PasportSerial" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.PasportSerial" class="form-control" />
                        <span asp-validation-for="Input.PasportSerial" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.PasportNumber" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.PasportNumber" class="form-control" />
                        <span asp-validation-for="Input.PasportNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.PasportIssued" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.PasportIssued" class="form-control" />
                        <span asp-validation-for="Input.PasportIssued" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.PasportDate" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.PasportDate" class="form-control" />
                        <span asp-validation-for="Input.PasportDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Input.PasportAddress" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Input.PasportAddress" class="form-control" />
                        <span asp-validation-for="Input.PasportAddress" class="text-danger"></span>
                    </div>
                </div>

                @*Кнопка подтверждения заказа*@
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-block btn-success">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<br />