@page
@model BathDream.Pages.OrderResultModel
@{
}

<br />
<br />
<div class="jumbotron">
    <h2>Заказ успешно оформлен</h2>
    <p style="font-weight:400">Документы по заказу отправленны по e-mail: @Model.Message</p>
    <p><a class="btn btn-lg btn-success text-center" asp-page="Index" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Вернуться на главную</a></p>
</div>

