@page
@model BathDream.Pages.UserAgreementModel
@{
    ViewBag.Title = "Пользовательское соглашение";
}

<div class="page-header">
    <h1>Пользовательское соглашение</h1>
</div>
<p>Текст соглашения</p>