@page
@using BathDream.Models
@model BathDream.Pages.Account.CustomerModel
@{
    ViewData["Title"] = "Профиль пользователя";
}

@section MainMenu
{
    <partial name="MainMenu" model="null" />
}

<br />
<br />
<!--<p>Страница пользователя @Model.Input.NameFamaly</p>
<a asp-page="/Account/Manage/ProfileCustomer">Редактировать профиль</a>
<a asp-page-handler="Logout">Выход</a>-->

<div style="position: fixed; left: 25px; top: 100px">
    <ul>
        <li><a asp-page="/Account/Manage/ProfileCustomer">Профиль</a></li>
        <li><a asp-page-handler="DeleteOrder">Удалить текущий заказ</a></li>
        <li><a asp-page-handler="Logout">Выход</a></li>
    </ul>
</div>

<div>
    <a asp-page-handler="#" class="btn btn-info" style="width: 150px;">Смета</a>
    <a asp-page-handler="Contract" class="btn btn-info" style="width: 150px;">Договор</a>
    <button type="button" class="btn btn-info" style="width: 150px;">Проект</button>
    <button type="button" class="btn btn-info" style="width: 150px;">Материал</button>
    <button type="button" class="btn btn-info" style="width: 150px;">Документы</button>
</div>

<partial name="@Model.Input.ContentView" model="Model.Input" />
