@page
@using BathDream.Models
@model BathDream.Pages.Account.CustomerModel
@{
    ViewData["Title"] = "Профиль пользователя";
}

@section MainMenu
{
    <partial name="MainMenu" model="null" />
}

<br />
<br />
<!--<p>Страница пользователя @Model.Input.UserName</p>
<a asp-page="/Account/Manage/ProfileCustomer">Редактировать профиль</a>
<a asp-page-handler="Logout">Выход</a>-->











<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" style="color: #333;" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Меню</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>

            <div class="sidebar-header">

                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
                        @Model.Input.UserName
                        <strong>@Model.Input.UserFamaly</strong>
                    </span>
                    <span class="user-role">Заказчик</span>
                    <span class="user-status">
                        <!--<i class="fa fa-circle"></i>-->
                        <span>Online</span>
                    </span>
                </div>
            </div>

            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Этапы работы</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a asp-page-handler="ShowOrders">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Заказы</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a asp-page-handler="Project">
                            <i class="fa fa-tachometer"></i>
                            <span>Проект</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            @if (Model.Input.Flag == 1)
            {
                <partial name="@Model.Input.ContentView" model="Model.Input" />
            }
            else if (Model.Input.Flag == 2)
            {
                <a class="btn btn-success" name="Estimate" data-toggle="modal" data-target="#modal-order" onclick="LoadPartialView(this)">Смета</a>
                if (Model.Input.FlagContract == 1)
                {
                    <a class="btn btn-success" asp-page-handler="Contract">Детали заказа</a>
                }
                else
                {
                    <a class="btn btn-success" name="Contract" data-toggle="modal" data-target="#modal-order" onclick="LoadPartialView(this)">Договор</a>
                }
                if (Model.Input.FlagBrief == 1)
                {
                    <a class="btn btn-success" asp-page-handler="Brief">Бриф</a>
                }
                else
                {
                    <a class="btn btn-success" name="Brief" data-toggle="modal" data-target="#modal-order" onclick="LoadPartialView(this)">Чат</a>
                }
                <a class="btn btn-success" name="Material" data-toggle="modal" data-target="#modal-order" onclick="LoadPartialView(this)">Материалы</a>
                <a class="btn btn-success" name="Documents" data-toggle="modal" data-target="#modal-order" onclick="LoadPartialView(this)">Документы</a>
                
                <div aria-hidden="true" class="modal fade" id="modal-order" role="dialog">
                    <div class="modal-dialog modal-lg">
                        " role="document">
                        <div class="modal-content">
                            <div class="modal-header">

                            </div>
                            <div class="modal-body">
                                <div id="partial"></div>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr>
        </div>
    </main>
    <!-- page-content" -->
</div>
 @*+ e.target.name*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function LoadPartialView(e) {
        var hand = e.name;
        var url = "/Account/Customer?handler=" + hand;

        $("#partial").load("/Account/Customer?handler=" + hand);

        //fetch('/Account/Customer?handler=' + hand)
        //    .then((response) => {
        //        return response.text();
        //    })
        //    .then((result) => {
        //        document.getElementById('partial').innerHTML = result;
        //    });



        //$(document).ready(function () {
        //    $("a").click(function () {
        //        $.ajax({
        //            type: "GET",
        //            url: url,
        //        })
        //            .done(function (response) {
        //                console.log("SUCCESS");
        //                $("#partial").load(response);
        //            })
        //            .fail(function (response) {
        //                console.log("FAIL");
        //            })
        //        //$("#partial").load("/Account/Customer?handler=" + hand);
        //    })
        //})
    }
</script>


<!-- page-wrapper -->
<!--


<div style="position: fixed; left: 25px; top: 100px">
    <ul>
        <li><a asp-page="/Account/Manage/ProfileCustomer">Профиль</a></li>
        <li><a asp-page-handler="DeleteOrder">Удалить текущий заказ</a></li>
        <li><a asp-page-handler="Logout">Выход</a></li>
    </ul>
</div>-->
