@page
@model BathDream.Pages.Account.RegisterConfirmModel
@{
    ViewData["Title"] = "Завершение регистрации";
}

<br />
<br />
<div class="jumbotron">
    <h2>Подтверждение регистрации</h2>
    <p style="font-weight:400">Для подтверждения регистрации перейдите по ссылке в высланом на Вашу почту письме</p>
    <p><a class="btn btn-lg btn-success text-center" asp-page="/Test/Index" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Вернуться на главную</a></p>
</div>
