@page
@model BathDream.Pages.Account.RegisterConfirmModel
@{
    ViewData["Title"] = "Завершение регистрации";
}

<br />
<br />
<div class="col-md-4">
    <p>Для подтверждения Email перейдите по ссылке в высланом на Вашу почту Письме</p>
    <a asp-page="/Test/Index" class="btn btn-block btn-success">Вернутся на главную</a>
</div>
